*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    background-color: rgb(201, 170, 124);
    text-align: center;
    align-items: center;
}
h1{
    font-size: 50px;
}
nav{
    background-color: black;   
    color: darkgrey;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    text-decoration: underline;
}
main{
        background-color: bisque;
}
.nav{
    position: relative;
    display: flex;
    list-style-type: none;
    gap: 100px;
    justify-content: center;
}
#oqé{
    margin: auto;
}
#oqé li{
    color: rgb(0, 0, 0);
    list-style-type: none;
    font-size: 30px;
}
 
#como{
    margin-top: 20px;
}
.como{
    width: 35rem;
}
#demiurgo{
    margin-top: 20px;
    height: 700px;
}
.logo{
    width: 100px;
    margin-top: 5px;
}
p{
    font-size: 30px;
    align-items: center;
}
h2{
    font-size: 35px;
}
.fotooqé{
    width: 250px;
}
.conteudo-flex {
    display: flex;
    gap: 20px;
    align-items: center; 
}
img{
    margin: 10px;
}